<div class="aniCenter">
    <div id="gcmYatirimAnimation" class="gcmYatirimAnimation loader">
        <svg class="atomAnimation" xmlns="http://www.w3.org/2000/svg" width="320" height="260" viewBox="0 0 461 376" fill="none">
            <path fill="transparent" class="aniPath" d="M335 177.982C409.26 181.002 460.118 187.16 460.118 194.267C460.118 204.355 357.616 212.534 231.173 212.534C104.73 212.534 2.22754 204.355 2.22754 194.267C2.22754 187.898 43.0721 182.291 105 179.022" stroke="#64B145" stroke-width="0.7" stroke-dasharray="5 5" />
            <path fill="transparent" class="aniPath" d="M91.2055 163C48.9325 208.191 31.0824 256.516 50.0418 288.548C78.3025 336.294 177.646 329.76 271.932 273.953C366.218 218.146 419.743 134.199 391.482 86.4526C369.363 49.083 303.701 44.9642 231 71.6952" stroke="#64B145" stroke-width="0.7" stroke-dasharray="5 5" />
            <path fill="transparent" class="aniPath" d="M113.786 234.5C55.5315 184.455 27.3718 125.693 48.9561 88.3081C76.6977 40.2583 176.106 45.7159 270.992 100.498C365.877 155.28 420.308 238.642 392.566 286.691C371.049 323.961 306.416 329.039 234.22 303.879" stroke="#64B145" stroke-width="0.7" stroke-dasharray="5 5" />
            <path fill="transparent" class="aniPath" d="M296.574 277.142C281.739 328.951 253.284 364 220.618 364C172.642 364 133.749 288.396 133.749 195.133C133.749 101.87 172.642 26.2653 220.618 26.2653C250.999 26.2653 277.736 56.5813 293.263 102.5" stroke="#64B145" stroke-width="0.7" stroke-dasharray="5 5" />
            <ellipse cx="50.5" cy="87" rx="4.5" ry="4" fill="#375D77" />
            <circle cx="220" cy="76" r="4" fill="#375D77" />
            <ellipse cx="220.716" cy="298.713" rx="3.71116" ry="3.71289" fill="#375D77" />
            <circle cx="392" cy="88" r="4" fill="#375D77" />
            <ellipse cx="25" cy="204" rx="4.12352" ry="4.12542" fill="#375D77" />
            <ellipse cx="436.124" cy="201.125" rx="4.12352" ry="4.12542" fill="#375D77" />
            <ellipse cx="73.5032" cy="308.591" rx="3.71117" ry="3.71286" fill="#375D77" />
            <ellipse cx="375.74" cy="307.38" rx="4.12351" ry="4.12542" fill="#375D77" />
        </svg>

        <div class="gcmYatirimPoints">
            <div class="gcmPoint point1">
                <span>5/24 AÇIK</span>
                <span>PİYASA</span>
            </div>
            <div class="gcmPoint point2">
                <span>GÜÇLÜ</span>
                <span>ÖZSERMAYE</span>
            </div>
            <div class="gcmPoint point3">
                <span>TÜRK</span>
                <span>HİSSELERİ</span>
            </div>
            <div class="gcmPoint point4">
                <span>İKİ YÖNLÜ</span>
                <span>YATIRIM</span>
            </div>
            <div class="gcmPoint point5">
                <span>SPK</span>
                <span>LİSANSLI</span>
            </div>
            <div class="gcmPoint point6">
                <span>GENİŞ ÜRÜN</span>
                <span>YELPAZESİ</span>
            </div>
            <div class="gcmPoint point7">
                <span>KALDIRAÇLI</span>
                <span>İŞLEMLER</span>
            </div>
            <div class="gcmPoint point8">
                <span>ÖDÜLLÜ ARACI</span>
                <span>KURUM</span>
            </div>
        </div>


        <div class="gcmAnimationVideo">
            <div class="gcmAnimationVideoElWrap">
                <video id="gcmAnimationVideoEl" autoplay playsinline muted loop preload>
                    <source src="../assets/img/video.mp4" />
                </video>
            </div>
            <svg class="gcmAnimationMask" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 253 223" preserveAspectRatio="xMidYMid slice">
                <defs>
                    <mask id="mask" x="0" y="0" width="100%" height="100%">
                        <rect x="0" y="0" width="100%" height="100%" />
                        <path d="M30.0894 85.4653C30.7556 85.4653 31.4218 86.1079 32.088 86.1079C56.0704 93.819 88.7131 97.6746 125.353 95.1042C126.019 92.5338 126.685 90.606 127.351 88.0356C128.018 86.1079 128.684 84.1801 129.35 82.2523C140.675 56.5484 167.322 40.4835 199.299 40.4835C214.621 40.4835 228.61 44.9817 239.935 52.6929C232.607 41.7687 223.947 32.1298 213.288 23.7761C193.969 8.99634 168.654 0 141.341 0C109.365 0 80.0528 13.4945 59.4013 34.0576C51.4071 31.4872 47.4101 29.5594 47.4101 26.989C47.4101 23.776 54.0718 21.8483 64.7307 18.6353C48.7424 21.8483 39.4159 25.0612 39.4159 28.9168C39.4159 32.1298 45.4115 35.3428 56.7365 37.9132C57.4027 37.9132 58.0689 38.5558 58.7351 38.5558C81.3851 44.3391 112.029 46.2669 145.338 41.1261C177.315 36.628 191.971 32.1298 213.954 23.7761C195.301 32.1298 173.984 40.4835 148.669 46.2669C118.691 52.6929 86.7145 54.6207 49.4086 44.9817C41.4145 55.9058 35.4189 66.1874 30.7556 80.9671C21.4291 77.7541 16.0997 73.8985 16.0997 71.3282C16.0997 68.1152 23.4277 66.1874 33.4203 62.9744C17.4321 66.1874 7.43941 69.4004 8.10559 73.2559C9.43794 76.4689 16.7659 81.6097 30.0894 85.4653Z" fill="#375D77" />
                        <path d="M30.2945 136.512C30.9575 136.512 31.6206 136.512 31.6206 137.154C58.1436 144.212 92.6236 146.778 131.082 143.57C130.419 142.287 129.756 141.645 129.756 140.362C125.777 131.379 123.788 121.113 123.788 110.848C123.788 107.64 123.788 103.79 124.451 100.582C99.9174 103.148 61.459 103.148 28.9683 94.8074C28.3052 101.223 27.6422 104.432 27.6422 112.131C27.6422 119.189 28.3052 125.605 29.6314 132.021C17.0329 128.171 7.74989 122.397 7.74989 119.189C7.74989 115.981 11.0653 114.697 21.6745 112.131C5.76066 114.697 0.456055 117.264 0.456055 121.113C0.456055 124.963 13.0545 132.021 30.2945 136.512Z" fill="#375D77" />
                        <path d="M150.74 188.441C166.088 186.525 178.099 183.97 188.776 182.054C165.42 179.5 146.068 168.004 134.057 150.121C106.03 152.675 61.3201 154.591 33.2931 148.205C38.6316 162.255 45.3047 173.113 55.3143 184.609C37.9643 181.416 21.9488 177.584 21.9488 173.752C21.9488 170.558 24.618 168.642 34.6277 165.449C18.6123 168.642 14.6084 171.836 14.6084 175.668C14.6084 180.777 35.9623 185.248 59.9855 188.441H60.6528C86.0106 192.912 117.374 192.912 150.74 188.441Z" fill="#375D77" />
                        <path d="M198.008 181.624C184.643 186.144 171.278 190.019 155.908 193.248C123.832 199.06 103.115 200.997 69.0342 197.122C91.0868 213.912 113.808 222.307 143.211 222.307C183.975 222.307 222.734 200.997 242.114 170C229.417 177.749 215.383 181.624 199.345 181.624C198.677 181.624 198.677 181.624 198.008 181.624Z" fill="#375D77" />
                        <path d="M192.495 104.626V127.657H226.404V142.371C221.085 146.849 210.447 151.967 199.143 151.967C175.207 151.967 158.585 134.694 158.585 111.023C158.585 87.3527 175.872 70.0795 199.143 70.0795C212.441 70.0795 223.745 77.7565 229.729 86.0732L252.335 73.918C251.006 71.9987 250.341 70.7192 249.011 68.8C248.346 67.5205 247.681 66.8808 246.351 65.6013C236.378 54.7255 221.085 45.769 199.143 45.769C170.553 45.769 145.952 59.8435 135.313 83.5142C134.648 85.4335 133.984 86.713 133.319 88.6322C132.654 89.9117 132.654 91.1912 131.989 93.1105C131.324 95.0297 131.324 96.9489 130.659 98.8682C129.994 102.707 129.994 105.905 129.994 109.744C129.994 119.98 131.989 128.936 135.313 136.613C135.978 138.533 136.643 139.812 137.973 141.731C137.973 141.731 137.973 141.731 137.973 142.371C139.303 144.29 139.968 146.21 141.297 147.489C153.93 164.762 174.542 174.359 198.479 174.359C204.463 174.359 209.782 173.719 214.436 173.079C219.09 171.8 223.745 170.52 228.399 168.601C229.064 168.601 229.064 167.961 229.729 167.961C230.394 167.321 231.059 167.321 231.723 166.682C236.378 164.123 240.367 161.564 244.357 158.365C247.681 155.806 250.341 153.247 253 150.688V102.707L192.495 104.626Z" fill="#375D77" />
                    </mask>
                </defs>
                <rect x="0" y="0" width="100%" height="100%" />
            </svg>
        </div>
    </div>
</div>
<style>
    /* Atom */
    .atomAnimation {
        position: relative;
        z-index: 50;
        pointer-events: none;
        transition: 0.5s ease all;
    }

    .aniPath {


        stroke-dasharray: 5 5;
        animation: dash 300s linear alternate infinite;
    }

    .aniCenter {
        justify-content: center;
        align-items: center;
        display: flex;
    }

    @keyframes dash {
        100% {
            stroke-dashoffset: -20000;
        }
    }

    .gcmYatirimPoints {
        left: 0;
        top: 0;
        position: absolute;
    }

    .gcmYatirimAnimation {
        position: relative;
        display: inline-flex;
    }

    .gcmAnimationVideo {
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -102px;
        margin-top: -77px;
        width: 175px;
        height: 154px;
        overflow: hidden;
        transition: 0.5s ease all;
    }

    .gcmAnimationMask {
        width: 100%;
        position: relative;
        z-index: 10;
    }

    .gcmAnimationVideo video {
        z-index: 9;
        height: 230px;
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .gcmAnimationMask rect {
        fill: white;
    }

    .gcmAnimationMask>rect {
        -webkit-mask: url(#mask);
        mask: url(#mask);
    }
    .gcmAnimationVideoElWrap{
        position: absolute;
        left: 0.5%;
        top: 0.5%;
        width: 99%;
        height: 99%;
        overflow: hidden;
    }
    #mask {
        fill: none;
        stroke: white;
        stroke-width: 2;
        stroke-linejoin: round;
        stroke-dasharray: 70 330;
        stroke-dashoffset: 0;
        -webkit-animation: stroke 2s infinite linear;
        animation: stroke 2s infinite linear;
    }

    @-webkit-keyframes stroke {
        100% {
            stroke-dashoffset: -400;
        }
    }

    @keyframes stroke {
        100% {
            stroke-dashoffset: -400;
        }
    }

    .gcmPoint {
        position: absolute;
        font-weight: 700;
        z-index: 11;
        font-size: 12px;
        display: flex;
        justify-content: center;
        text-align: center;
        flex-wrap: wrap;
        color: #375D77;
        transition: 0.5s ease all;
    }

    .gcmPoint span {
        display: block;
        white-space: nowrap;
    }

    .gcmPoint.point1 {
        left: 10px;
        top: 25px;
    }

    .gcmPoint.point2 {
        left: -25px;
        top: 105px;
    }

    .gcmPoint.point3 {
        left: 20px;
        top: 175px;
    }

    .gcmPoint.point4 {
        left: 125px;
        top: 218px;
    }

    .gcmPoint.point5 {
        left: 235px;
        top: 175px;
    }

    .gcmPoint.point6 {
        left: 265px;
        top: 105px;
    }

    .gcmPoint.point7 {
        left: 235px;
        top: 25px;
    }

    .gcmPoint.point8 {
        left: 108px;
        top: 15px;
    }

    .gcmYatirimAnimation.loader .atomAnimation,
    .gcmYatirimAnimation.loader .gcmYatirimPoints {
        opacity: 0;
    }

    .gcmAnimationMask path {
        fill: #182643;
    }

    @media(min-width: 550px) {
        .atomAnimation {
            width: 460px;
            height: 375px;
        }

        .gcmAnimationVideo {
            width: 253px;
            height: 223px;
            margin-left: -150px;
            margin-top: -112px;
        }

        .gcmPoint {
            font-size: 14px;
        }

        .gcmPoint.point1 {
            left: 20px;
            top: 40px;
        }

        .gcmPoint.point2 {
            left: -25px;
            top: 158px;
        }

        .gcmPoint.point3 {
            left: 35px;
            top: 265px;
        }

        .gcmPoint.point4 {
            left: 185px;
            top: 310px;
        }

        .gcmPoint.point5 {
            left: 345px;
            top: 265px;
        }

        .gcmPoint.point6 {
            left: 390px;
            top: 155px;
        }

        .gcmPoint.point7 {
            left: 345px;
            top: 40px;
        }

        .gcmPoint.point8 {
            left: 165px;
            top: 30px;
        }
    }

    html>div {
        display: none !important;
    }
</style>
<script>
    var VideoElement = document.getElementById("gcmAnimationVideoEl");
    checkforVideo();

    function checkforVideo() {
        var b = setInterval(function(){
            if (VideoElement.readyState >= 3) {
                document.getElementById('gcmYatirimAnimation').classList.remove('loader');
                clearInterval(b);
            }
        }, 300);
    };
</script>