<div class="row gcmTvWrapper container">
    <div class="row gtTab gcmTvTab">
        <ul class="row gtTabNav gcmTvTabNav">
                            <li><a class="gtButton tvPlaylistButton active" data-playlist="PLojmpu9Jk9CUYyilcp0ikF3KZ1fkI01Oi" href="#PLojmpu9Jk9CUYyilcp0ikF3KZ1fkI01Oi">Forex Bilgi Merkezi</a></li>
                            <li><a class="gtButton tvPlaylistButton " data-playlist="PLojmpu9Jk9CXklSBesh5rDzRhco7jCMFl" href="#PLojmpu9Jk9CXklSBesh5rDzRhco7jCMFl">Video Analiz</a></li>
                            <li><a class="gtButton tvPlaylistButton " data-playlist="PLojmpu9Jk9CWcqtkqiYexT1u_wELK8xwh" href="#PLojmpu9Jk9CWcqtkqiYexT1u_wELK8xwh">TV Kayıtları</a></li>
                            <li><a class="gtButton tvPlaylistButton " data-playlist="PLojmpu9Jk9CVHQTiYOfQ26Akrf0KfRNYX" href="#PLojmpu9Jk9CVHQTiYOfQ26Akrf0KfRNYX">VİOP Bilgi Merkezi</a></li>
                            <li><a class="gtButton tvPlaylistButton " data-playlist="PLojmpu9Jk9CWnUPWYFXE_FZgnQeH9b55G" href="#PLojmpu9Jk9CWnUPWYFXE_FZgnQeH9b55G">Opsiyon Bilgi Merkezi</a></li>
                            <li><a class="gtButton tvPlaylistButton " data-playlist="PLojmpu9Jk9CVbLGbWfc0DBtpskT4DqRCy" href="#PLojmpu9Jk9CVbLGbWfc0DBtpskT4DqRCy">Eğitim Seminerleri</a></li>
                    </ul>
        <div class="row gtTabContent gcmTvTabContent">
                            <div class="gtTabPane tvListContainer loader active" id="PLojmpu9Jk9CUYyilcp0ikF3KZ1fkI01Oi"></div>
                            <div class="gtTabPane tvListContainer loader " id="PLojmpu9Jk9CXklSBesh5rDzRhco7jCMFl"></div>
                            <div class="gtTabPane tvListContainer loader " id="PLojmpu9Jk9CWcqtkqiYexT1u_wELK8xwh"></div>
                            <div class="gtTabPane tvListContainer loader " id="PLojmpu9Jk9CVHQTiYOfQ26Akrf0KfRNYX"></div>
                            <div class="gtTabPane tvListContainer loader " id="PLojmpu9Jk9CWnUPWYFXE_FZgnQeH9b55G"></div>
                            <div class="gtTabPane tvListContainer loader " id="PLojmpu9Jk9CVbLGbWfc0DBtpskT4DqRCy"></div>
                    </div>
    </div>

    <div class="row youtubeSubscribeChannel">
        <a href="https://www.youtube.com/channel/UCaWFLmUh2iLpmkZVXyKmAlA/?sub_confirmation=1" class="row youtubeSubscribeAction" target="_blank">
            <i class="svgIcoEl youtubeSubscribe lazyloaded" data-include="https://www.gcmyatirim.com.tr/assets/svg/youtubeSubscribe.svg" data-currentinclude=""><svg class="gcmSVG svg-youtubeSubscribe" width="1em" height="1em" viewBox="0 0 35 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 10.2667C0 8.72032 1.2536 7.46673 2.79999 7.46673H31.7332C33.2796 7.46673 34.5332 8.72033 34.5332 10.2667V25.2C34.5332 26.7464 33.2796 28 31.7332 28H2.79999C1.2536 28 0 26.7464 0 25.2V10.2667Z" fill="#FF0000"></path>
                    <path d="M14.7826 13.1011L21.2336 17.6167L14.7826 22.1327L14.7826 17.6168L14.7826 13.1011Z" fill="white"></path>
                    <rect x="3.73334" y="3.7333" width="27.0666" height="1.86666" rx="0.933331" fill="#FF0000"></rect>
                    <rect x="7.46643" width="19.5999" height="1.86666" rx="0.933331" fill="#FF0000"></rect>
                </svg></i>
            <div class="row youtubeSubscripeText">
                <strong class="youtubeSubscribeTitle">ABONE OL</strong>
                <span class="youtubeSubscribeDesc">CANLI YAYINLARI KAÇIRMA!</span>
            </div>
        </a>
    </div>
    <span class="gcmTvSectionShadow"></span>
</div>
<style>
    .gcmTvTab,
    .gcmTvTabContent {
        border-top: 1px solid #E4E9F2;
    }

    .gcmTvTabNav {
        position: relative;
        z-index: 1;
        display: flex;
        overflow: auto;

        background: #f7f7f8 no-repeat;
        background-position: 0 0, 100% 0;
        background-size: 50px 100%;
        list-style: none;
        padding: 0;
        max-width: 100%;
        width: auto;
        margin: auto;
        flex-wrap: nowrap;
        justify-content: flex-start;

        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
        align-items: stretch;
        font-weight: 500;
        font-size: 16px;
        background-color: #fff;
        background-image:
            -webkit-linear-gradient(90deg, rgba(178, 184, 198, 0.15) 0%, rgba(178, 184, 198, 0) 100%),
            -webkit-linear-gradient(270deg, rgba(178, 184, 198, 0.15) 0%, rgba(178, 184, 198, 0) 100%);
        background-image:
            -moz-linear-gradient(90deg, rgba(178, 184, 198, 0.15) 0%, rgba(178, 184, 198, 0) 100%),
            -moz-linear-gradient(270deg, rgba(178, 184, 198, 0.15) 0%, rgba(178, 184, 198, 0) 100%);
        background-image:
            linear-gradient(90deg, rgba(178, 184, 198, 0.15) 0%, rgba(178, 184, 198, 0) 100%),
            linear-gradient(270deg, rgba(178, 184, 198, 0.15) 0%, rgba(178, 184, 198, 0) 100%);
    }

    .gcmTvTabNav:before,
    .gcmTvTabNav:after {
        content: "";
        position: relative;
        z-index: -1;
        min-width: 150px;
        margin: 0 -150px 0 0;

        background: rgb(255, 255, 255);
        background: -moz-linear-gradient(90deg, rgba(255, 255, 255, 1) 30%, rgba(255, 255, 255, 0) 100%);
        background: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 1) 30%, rgba(255, 255, 255, 0) 100%);
        background: linear-gradient(90deg, rgba(255, 255, 255, 1) 30%, rgba(255, 255, 255, 0) 100%);
    }

    .gcmTvTabNav:after {
        margin: 0 0 0 auto;
        background: rgb(255, 255, 255);
        background: -moz-linear-gradient(270deg, rgba(255, 255, 255, 1) 30%, rgba(255, 255, 255, 0) 100%);
        background: -webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 30%, rgba(255, 255, 255, 0) 100%);
        background: linear-gradient(270deg, rgba(255, 255, 255, 1) 30%, rgba(255, 255, 255, 0) 100%);
    }

    .gcmTvTabNav li:last-child {
        margin-right: -150px;
    }

    .gcmTvTabNav::-webkit-scrollbar {
        display: none;
    }

    .gcmTvTabNav li:last-child {
        margin-right: -150px;
    }

    .gcmTvTabNav::-webkit-scrollbar {
        display: none;
    }

    .gcmTvTabNav a {
        font-weight: 500;
        font-size: 16px;
        padding: 15px 10px;
        color: #000;
        display: flex;
        margin-bottom: 0;
        position: relative;
        white-space: nowrap;
    }

    .gcmTvTabNav a.active {
        color: #14537F;
    }

    .gcmTvTabNav a.active:after,
    .gcmTvTabNav a.active:before {
        content: '';
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid currentcolor;
        position: absolute;
        bottom: 0;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    .gcmTvTabNav a.active:before {
        width: 30px;
        height: 1px;
        border: none;
        background: currentColor;
    }

    .youtubeSubscribeChannel {
        background: #F7F7F8;
        padding: 15px 10px;
    }

    .youtubeSubscribeAction {
        flex-wrap: wrap;
        justify-content: center;
    }

    .youtubeSubscribeAction .svgIcoEl {
        font-size: 40px;
    }

    .youtubeSubscribeTitle {
        font-weight: 600;
        color: #FF0000;
    }

    .youtubeSubscripeText {
        margin-left: 10px;
        flex-direction: column;
        text-align: center;
    }

    .tvCatNavTitle,
    .tvCatList {
        width: 100%;
        background: #F5F5F5;
        padding: 10px;
        justify-content: center;
        font-weight: 600;
        color: #155480;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 15;
    }

    .tvCatNavTitle:before,
    .tvCatList:before {
        content: '';
        display: flex;
        width: 20px;
        height: 20px;
        background: url('data:image/svg+xml;charset=utf8, %3Csvg%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M0%200L9.85714%200V2.22857H0V0ZM0%204.45714H12V6.68571H0V4.45714ZM0%208.91429H7.63636V11.1429H0V8.91429Z%22%20fill%3D%22%23155480%22%2F%3E%0A%3C%2Fsvg%3E') no-repeat 0px center;
    }

    .tvCatTabNav li {
        width: 100%;
    }

    .tvVidButton {
        padding: 15px 15px 15px 30px;
        position: relative;
        border-left: 1px solid transparent;
    }

    .tvVidButton.active {
        border-left: #174A6C 1px solid;
    }

    .tvVidButton.active:before {
        content: '';
        width: 0;
        height: 0;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-left: 7px solid #174A6C;
        position: absolute;
        left: 10px;
        top: 50%;
        margin-top: -4px;

    }

    .tvVidButton:after {
        content: '';
        width: 100%;
        height: 1px;
        position: absolute;
        bottom: 0;
        left: 0;
        background: -moz-linear-gradient(270deg, rgba(238, 239, 241, 0) 0%, rgba(238, 239, 241, 1) 100%);
        background: -webkit-linear-gradient(270deg, rgba(238, 239, 241, 0) 0%, rgba(238, 239, 241, 1) 100%);
        background: linear-gradient(270deg, rgba(238, 239, 241, 0) 0%, rgba(238, 239, 241, 1) 100%);
    }

    .tvVidButton .videoNavTitle {
        width: 100%;
        padding: 0px 0 5px 0;
        font-weight: 500;
    }

    .tvVidButton .videoView:before,
    .tvVidButton .videoTime:before {
        content: '';
        display: flex;
        height: 12px;
        margin-right: 5px;
    }

    .tvVidButton .videoView:before {
        width: 18px;
        background: url('data:image/svg+xml;charset=utf8, %3Csvg%20width%3D%2218%22%20height%3D%2211%22%20viewBox%3D%220%200%2018%2011%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M8.99434%207C9.85472%207%2010.5566%206.29316%2010.5566%205.42671C10.5566%204.56026%209.85472%203.87622%208.99434%203.87622C8.13396%203.87622%207.45472%204.56026%207.45472%205.42671C7.45472%206.29316%208.13396%207%208.99434%207ZM8.99434%2010.8762C14.1113%2010.8762%2017.8019%206.04234%2017.8019%206.04234C18.0509%205.72313%2018.0509%205.15309%2017.8019%204.83388C17.8019%204.83388%2014.1113%20-5.28991e-07%208.99434%20-5.28991e-07C3.87736%20-5.28991e-07%200.186792%204.83388%200.186792%204.83388C-0.0622641%205.15309%20-0.0622641%205.72313%200.186792%206.04234C0.186792%206.04234%203.87736%2010.8762%208.99434%2010.8762ZM8.99434%201.52769C11.1226%201.52769%2012.866%203.28339%2012.866%205.42671C12.866%207.57003%2011.1226%209.32573%208.99434%209.32573C6.86604%209.32573%205.12264%207.57003%205.12264%205.42671C5.12264%203.28339%206.86604%201.52769%208.99434%201.52769Z%22%20fill%3D%22%238A909D%22%2F%3E%0A%3C%2Fsvg%3E%0A') no-repeat 0px center;
    }

    .tvVidButton .videoTime:before {
        width: 12px;
        background: url('data:image/svg+xml;charset=utf8, %3Csvg%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M5.33333%203.33334V6.66667L8.16667%208.34667L8.68%207.49334L6.33333%206.1V3.33334H5.33333ZM12%204.66667V1.24022e-05L10.24%201.76001C9.68477%201.20083%209.02412%200.757347%208.29632%200.45524C7.56852%200.153134%206.78801%20-0.00159538%206%201.24022e-05C4.81331%201.24022e-05%203.65328%200.351906%202.66658%201.01119C1.67989%201.67048%200.910851%202.60755%200.456725%203.70391C0.00259966%204.80026%20-0.11622%206.00666%200.115291%207.17055C0.346802%208.33443%200.918247%209.40353%201.75736%2010.2426C2.59648%2011.0818%203.66557%2011.6532%204.82946%2011.8847C5.99335%2012.1162%207.19975%2011.9974%208.2961%2011.5433C9.39246%2011.0891%2010.3295%2010.3201%2010.9888%209.33342C11.6481%208.34673%2012%207.18669%2012%206H10.6667C10.6667%208.57333%208.57333%2010.6667%206%2010.6667C3.42667%2010.6667%201.33334%208.57333%201.33334%206C1.33334%203.42667%203.42667%201.33334%206%201.33334C7.28667%201.33334%208.45333%201.86001%209.3%202.70001L7.33333%204.66667H12Z%22%20fill%3D%22%238A909D%22%2F%3E%0A%3C%2Fsvg%3E%0A') no-repeat 0px center;
    }

    .tvVidButton .videoView,
    .tvVidButton .videoTime {
        display: flex;
        margin-right: 10px;
        align-items: center;
        font-size: 14px;
        color: #8A909D;
        font-weight: 500;
    }

    .tvListContainer {
        width: 100%;
        min-height: 300px;
    }

    .gcmTvVideoContent {
        flex-wrap: wrap;
        padding: 10px;
        border: 1px solid #EEEFF1;
        margin-top: 15px;
    }

    .gcmTvVideoContent iframe {
        display: none;
    }

    .gcmTvVideoContent.active iframe {
        display: block;
    }

    .tvPlayer {
        position: relative;
        display: block;
        width: 100%;
    }

    .tvPlayer .videoHolder {
        display: block;
        width: 100%;
    }

    .tvPlayer iframe {
        width: 100%;
        height: 100%;
        position: absolute;
    }

    .playerContent {
        padding: 15px 0;
    }

    .playerTitle {
        margin-bottom: 5px;
        font-weight: 500;
    }

    .playerDescription {
        font-size: 14px;
    }

    .tvCatTab {
        position: relative;
        overflow: hidden;
    }

    .tvCatTabNav {
        position: absolute;
        background-color: #fff;
        height: 100%;
        align-items: flex-start;
        align-content: flex-start;
        -webkit-transition: 0.5s ease all;
        -moz-transition: 0.5s ease all;
        -ms-transition: 0.5s ease all;
        -o-transition: 0.5s ease all;
        transition: 0.5s ease all;
        top: 0;
        left: -100%;
        margin: 1px 0;
        overflow: auto;
        z-index: 9;
    }

    .navActive .tvCatTabNav {
        left: 0;
    }

    .tvCatList {
        cursor: pointer;
        margin: 1px 0;
        padding: 20px 0;
        z-index: 8;
    }

    .playerControl,
    .videoThumbnail {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }

    .videoThumbnail {
        background-position: center;
        background-size: 100%;
        pointer-events: none;
    }

    .tvPlayer {
        position: relative;
    }

    .youtubePlayButton {
        pointer-events: none;
        position: absolute;
        left: 50%;
        top: 50%;
        width: 68px;
        height: 48px;
        margin-left: -34px;
        margin-top: -24px;
        display: block;
        z-index: 10;
    }

    .ytp-large-play-button-bg {
        -moz-transition: fill .1s cubic-bezier(0.4, 0.0, 1, 1), fill-opacity .1s cubic-bezier(0.4, 0.0, 1, 1);
        -webkit-transition: fill .1s cubic-bezier(0.4, 0.0, 1, 1), fill-opacity .1s cubic-bezier(0.4, 0.0, 1, 1);
        transition: fill .1s cubic-bezier(0.4, 0.0, 1, 1), fill-opacity .1s cubic-bezier(0.4, 0.0, 1, 1);
        fill: #212121;
        fill-opacity: .8;
    }

    .tvPlayer:hover .ytp-large-play-button-bg {
        -moz-transition: fill .1s cubic-bezier(0.0, 0.0, 0.2, 1), fill-opacity .1s cubic-bezier(0.0, 0.0, 0.2, 1);
        -webkit-transition: fill .1s cubic-bezier(0.0, 0.0, 0.2, 1), fill-opacity .1s cubic-bezier(0.0, 0.0, 0.2, 1);
        transition: fill .1s cubic-bezier(0.0, 0.0, 0.2, 1), fill-opacity .1s cubic-bezier(0.0, 0.0, 0.2, 1);
        fill: #f00;
        fill-opacity: 1;
    }

    .youtubePlayerEmbedWrap {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    .playerControl {
        cursor: pointer;
        opacity: 1;
        z-index: 2;
    }

    .playerControl.hide {
        pointer-events: none;
        opacity: 0;
        visibility: hidden;
    }

    .youtubePlayerEmbed {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
        top: 0;
        left: 0;
    }

    .youtubeShareRow {
        margin-top: 15px;
    }

    .youtubeShare {
        justify-items: center;
        color: #155480;
        align-items: center;
        font-weight: 500;
    }

    .youtubeShare:before {
        content: '';
        margin-right: 5px;
        width: 16px;
        height: 16px;
        display: flex;
        background: url('data:image/svg+xml;charset=utf8, %3Csvg%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M12.5%2010C14.16%2010%2015.5%2011.34%2015.5%2013C15.5%2014.66%2014.16%2016%2012.5%2016C10.84%2016%209.5%2014.66%209.5%2013C9.5%2012.76%209.53%2012.54%209.59%2012.31L5.21%2010.01C4.66%2010.62%203.88%2011%203%2011C1.34%2011%200%209.66%200%208C0%206.34%201.34%205%203%205C3.88%205%204.66%205.39%205.21%205.99L9.59%203.69C9.53%203.46%209.5%203.24%209.5%203C9.5%201.34%2010.84%200%2012.5%200C14.16%200%2015.5%201.34%2015.5%203C15.5%204.66%2014.16%206%2012.5%206C11.62%206%2010.84%205.61%2010.29%205.01L5.91%207.31C6.03112%207.76203%206.03112%208.23797%205.91%208.69L10.29%2010.99C10.84%2010.38%2011.62%2010%2012.5%2010Z%22%20fill%3D%22%23155480%22%2F%3E%0A%3C%2Fsvg%3E') no-repeat 0px center;
    }

    .youtubeVideoTags {
        color: #174A6C;
        margin: 10px 0 0 0;
        border-top: 1px solid #EEEFF1;
        padding: 10px 0 5px 0;
    }

    .youtubeVideoTags span {
        margin-right: 2px;
    }

    .gcmTvSectionShadow {
        display: flex;
        margin: auto;
        width: 100%;
        height: 15px;
        border-top: 1px solid #fff;
        background-image:
            -webkit-radial-gradient(50% 0, farthest-side, rgba(178, 184, 198, 0.3), rgba(0, 0, 0, 0));
        background-image:
            -moz-radial-gradient(50% 0, farthest-side, rgba(178, 184, 198, 0.3), rgba(0, 0, 0, 0));
        background-image:
            radial-gradient(farthest-side at 50% 0, rgba(178, 184, 198, 0.3), rgba(0, 0, 0, 0));
    }

    @media (min-width: 550px) {
        .playerContent {
            padding: 15px 0 0 0;
        }

        .gcmTvVideoContent {
            border: 0;
        }

        .youtubeShareRow {
            margin: 15px 0;
            flex-wrap: nowrap;
        }

        .youtubeVideoTags {
            color: #174A6C;
            border-top: 0;
            margin-top: 0;
            border-left: 1px solid #8797a2;
            padding: 5px 0 5px 10px;
        }

        .youtubeShare {
            justify-items: center;
            color: #155480;
            align-items: center;
            font-weight: 500;
            width: 100px;
            flex: 0 0 100px;
        }
    }

    @media (min-width: 992px) {
        .gcmTvVideoContent {
            padding: 0 15px;
        }

        .youtubeSubscripeText {
            justify-content: flex-start;
            text-align: left;
        }

        .gcmTvWrapper {
            position: relative;
        }

        .gcmTvTabNav {
            width: 280px;
            flex: 0 0 280px;
            flex-direction: column;
            background: #fff;
            align-content: stretch;
            margin: 0;
            padding-bottom: 79px;

            height: 100%;
            max-height: 550px;
            overflow: auto;
        }

        .gcmTvTab {
            flex-wrap: nowrap;
            align-content: space-between;
        }

        .gcmTvTab,
        .gcmTvTabContent {
            border: 0;
            min-height: 500px;
            height: 100%;
        }

        .tvCatList {
            justify-content: flex-start;
            padding: 10px 20px;
        }

        .youtubeSubscribeAction {
            flex-wrap: nowrap;
        }

        .youtubeSubscribeChannel {
            position: absolute;
            width: 280px;
            left: 15px;
            bottom: 0;
            z-index: 10;
            border-top: 1px solid #FF0000;
        }

        .youtubeSubscribeDesc {
            font-size: 14px;
        }

        .youtubeSubscribeAction .svgIcoEl {
            font-size: 34px;
        }

        .gcmTvTabNav a {
            border-left: 1px solid transparent;
            padding-left: 20px;
        }

        .gcmTvTabNav a.active {
            border-left: 1px solid currentcolor;
            background: #F7F7F8;
        }

        .gcmTvTabNav a.active:before {
            display: block;
            width: 0;
            height: 0;
            border-top: 5px solid transparent;
            border-bottom: 5px solid transparent;
            border-left: 5px solid;
            border-right: 0;
            left: 0;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
            background: transparent;
        }

        .gcmTvTabNav a:after,
        .gcmTvTabNav a.active:after {
            content: '';
            width: 100%;
            height: 1px;
            display: block;
            position: absolute;
            bottom: 0;
            border: none;
            right: 0;
            background: -moz-linear-gradient(90deg, rgba(228, 233, 242, 0) 0%, rgba(228, 233, 242, 1) 100%);
            background: -webkit-linear-gradient(90deg, rgba(228, 233, 242, 0) 0%, rgba(228, 233, 242, 1) 100%);
            background: linear-gradient(90deg, rgba(228, 233, 242, 0) 0%, rgba(228, 233, 242, 1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e4e9f2", endColorstr="#e4e9f2", GradientType=1);
        }

        .gcmTvTabNav li:last-child a:after {
            display: none;
        }

        .gcmTvTabNav li:last-child {
            margin: 0;
        }

        .tvListContainer {
            border: 1px solid #EEEFF1;
        }
    }

    @media (min-width: 1200px) {
        .tvListContainer {
            border: 1px solid transparent;
        }

        .tvListContainer.loader {
            border: 1px solid #eeeff1;
        }

        .tvCatList {
            display: none;
        }

        .tvCatTab {
            flex-wrap: nowrap;
            height: 100%;
            padding-right: 280px;
        }

        .tvCatContent {
            border: 1px solid #EEEFF1;
            align-content: flex-start;
        }

        .tvCatTabNav,
        .navActive .tvCatTabNav {
            height: 100%;
            right: 0;
            width: 280px;
            left: auto;
            margin: 0;
        }

        .gcmTvTab,
        .gcmTvTabContent {
            min-height: 410px;
        }
    }

    /* Share Buttons */
    .youtubeShareRow {
        position: relative;
    }

    .shareButtons {
        position: absolute;
        display: flex;
        justify-content: center;
        bottom: 45px;
        padding: 5px 10px;
        flex-wrap: nowrap;
        width: 170px;
        background: #fbfbfb;
        border: 1px solid #E4E9F2;
        z-index: 51;
        box-shadow: 0 10px 15px -15px rgba(0, 0, 0, 0.3);
        left: 0;
        visibility: hidden;
        transition: 0.2s ease all;
        opacity: 0;
        pointer-events: none;
    }

    .youtubeShareRow.active .shareButtons {
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
    }

    .shareButtons:before {
        content: '';
        display: block;
        width: 0;
        height: 0;
        position: absolute;
        bottom: -8px;
        left: 0;
        margin-left: 5px;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 8px solid #E4E9F2;
    }

    .shareButtons a {
        display: flex;
        padding: 8px;
        border: 1px solid #E4E9F2;
        margin: 3px;
        border-radius: 50px;
    }

    .shareButtons svg path {
        fill: #165581;
    }

    .shareButton.whatsapp {
        display: none;
    }

    [data-lcdevice="IOS"] .shareButton.whatsapp,
    [data-lcdevice="ANDROID"] .shareButton.whatsapp {
        display: block;
    }
</style>

<script>
    requirejs(['moment', 'libs/moment/locale/tr', 'https://www.youtube.com/iframe_api'], function(moment, momentLocale) {
        var defaultVideoList = document.getElementsByClassName('tvListContainer')[0].getAttribute('id');
        window.youtubeApiKey = 'AIzaSyCLIXNCZoB845A_U2nCvgJUxwn9sRoW870';

        window.serialize = function(obj) {
            var str = [];
            for (var p in obj) {
                if (obj.hasOwnProperty(p)) {
                    str.push(encodeURIComponent(p) + "=" + encodeURIComponent(obj[p]));
                }
            }
            return str.join("&");
        }

        youtubeListData(defaultVideoList);

        function youtubeListData(listID) {
            var listContainer = document.getElementById(listID);
            if (typeof listContainer.className === 'string' && listContainer.className.replace(/[\n\t]/g, " ").indexOf("loader") > -1) {

                var youtubeParams = {
                    key: window.youtubeApiKey,
                    playlistId: listID,
                    part: 'snippet,contentDetails',
                    maxResults: 50,
                };
                var youtubeList = new XMLHttpRequest();
                var youtubeListQuery = serialize(youtubeParams);
                youtubeList.open('GET.html', 'https://www.googleapis.com/youtube/v3/playlistItems?' + youtubeListQuery, true);
                youtubeList.onreadystatechange = function() {
                    if (youtubeList.readyState == 4 && youtubeList.status == 200) {
                        // Success!
                        var data = JSON.parse(youtubeList.responseText);
                        var listItems = data.items;
                        var active, listItemID, listItemTitle, defaultVideo, pushContent, videoID, i;

                        var tabNav = '';
                        var tabContent = '';
                        pushContent = '<div class="row gtTab tvCatTab">';
                        var videoIDs = [];

                        for (i = 0; i < listItems.length; i++) {
                            active = '';
                            videoID = listItems[i].snippet.resourceId.videoId;
                            listItemID = listItems[i].id;
                            listItemTitle = listItems[i].snippet.title;

                            if (i === 0) {
                                active = 'active';
                                defaultVideo = videoID;
                            }
                            if (!videoIDs[videoID]) {
                                videoIDs[videoID] = videoID;
                                tabNav += '<li><a class="gtButton gcmTvListToggle ' + active + ' row tvVidButton nav-' + videoID + '" href="#' + listItemID + '"></a></li>';
                                tabContent += '<div class="row gtTabPane gcmTvVideoContent ' + active + ' tab-' + videoID + '" id="' + listItemID + '"></div>';
                            }
                        }
                        pushContent += '<div class="row gtTabContent tvCatContent">';
                        pushContent += tabContent;
                        pushContent += '</div>';
                        pushContent += '<ul class="row gtTabNav tvCatTabNav"><span class="row tvCatNavTitle">DİĞER VİDEOLAR</span>';
                        pushContent += tabNav;
                        pushContent += '</ul>';
                        pushContent += '<button class="row tvCatList gcmTvListToggle">DİĞER VİDEOLAR</button>';
                        pushContent += '</div>';

                        document.getElementById(listID).innerHTML = pushContent;

                        youtubeItemData(listID, videoIDs);

                    }
                };
                youtubeList.send();
            }
        }

        // Object.values Polyfill;
        Object.values = Object.values ? Object.values : function(obj) {
            var allowedTypes = ["[object String]", "[object Object]", "[object Array]", "[object Function]"];
            var objType = Object.prototype.toString.call(obj);
            if (obj === null || typeof obj === "undefined") {
                throw new TypeError("Cannot convert undefined or null to object");
            } else if (!~allowedTypes.indexOf(objType)) {
                return [];
            } else {
                if (Object.keys) {
                    return Object.keys(obj).map(function(key) {
                        return obj[key];
                    });
                }
                var result = [];
                for (var prop in obj) {
                    if (obj.hasOwnProperty(prop)) {
                        result.push(obj[prop]);
                    }
                }
                return result;
            }
        };

        function youtubeItemData(listID, videoIDs) {

            videoIDs = Object.values(videoIDs).join(",");
            var youtubeParams = {
                key: window.youtubeApiKey,
                id: videoIDs,
                part: 'snippet,contentDetails,statistics,topicDetails',
                maxResults: 50,
            };
            var video = new XMLHttpRequest();
            var videoQuery = serialize(youtubeParams);
            video.open('GET.html', 'https://www.googleapis.com/youtube/v3/videos?' + videoQuery, true);
            video.onreadystatechange = function() {
                if (video.readyState == 4 && video.status == 200) {
                    // Success!

                    var gcmTvList = document.getElementById(listID);

                    var data = JSON.parse(video.responseText);
                    var videos = data.items;

                    var title, videoID, viewCount, navContent, publishedAt, targetNav, player, description, targetContent, thumbnail, thumbnailWidth, thumbnailHeight, randSlug, tags, tagsHTML, shareUrl, shareTitle;
                    var tabContent = '';
                    var i;
                    for (i = 0; i < videos.length; i++) {
                        title = videos[i].snippet.title;

                        thumbnail = videos[i].snippet.thumbnails.default.url;
                        thumbnailWidth = videos[i].snippet.thumbnails.default.width;
                        thumbnailHeight = videos[i].snippet.thumbnails.default.height;

                        if (videos[i].snippet.thumbnails.standard !== undefined) {
                            thumbnail = videos[i].snippet.thumbnails.standard.url;
                            thumbnailWidth = videos[i].snippet.thumbnails.standard.width;
                            thumbnailHeight = videos[i].snippet.thumbnails.standard.height;
                        }
                        tags = videos[i].snippet.tags;
                        tagsHTML = '';
                        if (tags !== undefined) {
                            tagsHTML = '<div class="row youtubeVideoTags"><span>#' + tags.slice(0, 4).join('</span>, <span>#') + '</span></div>';
                        }

                        description = videos[i].snippet.description;
                        videoID = videos[i].id;
                        randSlug = Math.random().toString(36).substring(2, 6);
                        viewCount = videos[i].statistics.viewCount;
                        publishedAt = videos[i].snippet.publishedAt;
                        publishedAt = moment(publishedAt, "YYYYMMDD").locale('tr').fromNow();
                        //player = '<iframe width="100%" height="100%" class="lazyload" data-src="https://www.youtube.com/embed/'+ videoID +'?showinfo=0&modestbranding=1" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>';
                        player = '<div class="youtubePlayerEmbedWrap loader"><div class="row youtubePlayerEmbed" data-originEmbed="'+ videoID +'" id="player-' + videoID + randSlug + '"></div></div>';
                        player += '<div class="playerControl" data-target="player-' + videoID + randSlug + '" data-video="' + videoID + '">';
                        player += '<div style="background-image:url(' + thumbnail + ');" class="videoThumbnail"></div>';
                        player += '<span class="youtubePlayButton"><svg height="100%" version="1.1" viewBox="0 0 68 48" width="100%"><path class="ytp-large-play-button-bg" d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z" fill="#f00"></path><path d="M 45,24 27,14 27,34" fill="#fff"></path></svg></span>';
                        player += '</div>';


                        navContent = '<span class="videoNavTitle">' + title + '</span><span class="videoView">' + viewCount + '</span><span class="videoTime">' + publishedAt + '</span>';

                        targetNav = gcmTvList.getElementsByClassName('nav-' + videoID)[0];
                        targetNav.innerHTML = navContent;

                        tabContent += '<div class="tvPlayer">';
                        tabContent += '<img class="videoHolder" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAJCAQAAACRI2S5AAAAEElEQVR42mNkIAAYRxWAAQAG9gAKqv6+AwAAAABJRU5ErkJggg==">';
                        tabContent += player;
                        tabContent += '</div>';
                        tabContent += '<div class="row playerContent">';
                        tabContent += '<div class="row playerTitle">';
                        tabContent += title;
                        tabContent += '</div>'; // playerTitle
                        tabContent += '<div class="row playerDescription">';
                        tabContent += 'Gcm Yatırım Araştırma Analiz Departmanı - ' + publishedAt;
                        tabContent += '</div>'; // playerDescription
                        tabContent += '<div class="row youtubeShareRow gDropDown">';
                        tabContent += '<a href="javascript:void(0)" class="row youtubeShare gDropDownButton">';
                        tabContent += 'PAYLAŞ';
                        tabContent += '</a>';

                        shareUrl = encodeURIComponent('https://youtu.be/' + videoID);
                        shareTitle = encodeURIComponent('GCM Yatırım - ' + title);
                        tabContent += '<div class="row shareButtons gDropDownContent">';
                        tabContent += '<a class="shareButton twitter" href="https://twitter.com/share?url=' + shareUrl + '&text=' + shareTitle + '" target="_blank" onclick="window.open(this.href, \'popupwindow\', \'width=800  height=600 resizable scrollbars menubar=yes\'); return false;"><svg class="gcmSVG svg-twitter" width="1em" height="1em" viewBox="0 0 22 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M21.12 1.96143C20.3787 2.27073 19.5719 2.49333 18.7408 2.58003C19.6036 2.0843 20.2497 1.30111 20.5579 0.377429C19.7483 0.843231 18.8614 1.16986 17.9365 1.34282C17.5499 0.943138 17.0824 0.624729 16.563 0.40744C16.0436 0.19015 15.4836 0.0786348 14.9177 0.0798437C12.6282 0.0798437 10.7868 1.87473 10.7868 4.07733C10.7868 4.38663 10.8256 4.69593 10.8886 4.99352C7.46036 4.82012 4.4028 3.23613 2.37008 0.81092C1.9997 1.42276 1.80561 2.11942 1.808 2.82841C1.808 4.21558 2.53726 5.43873 3.64931 6.15809C2.99396 6.13313 2.35395 5.95891 1.78135 5.64961V5.69882C1.78135 7.64133 3.2011 9.2511 5.0933 9.62133C4.73801 9.71058 4.37253 9.75624 4.00546 9.75723C3.73653 9.75723 3.48214 9.73146 3.22533 9.69631C3.74865 11.2803 5.27258 12.4308 7.08725 12.4683C5.66749 13.5438 3.88917 14.1765 1.95821 14.1765C1.61175 14.1765 1.29194 14.1648 0.960022 14.1273C2.79165 15.2637 4.96489 15.9198 7.3053 15.9198C14.9032 15.9198 19.0607 9.83222 19.0607 4.54831C19.0607 4.37492 19.0607 4.20152 19.0485 4.02812C19.8529 3.45873 20.5579 2.75343 21.12 1.96143Z" fill="currentColor"/></svg></a>';
                        tabContent += '<a class="shareButton facebook" href="https://www.facebook.com/sharer/sharer.php?u=' + shareUrl + '" target="_blank" onclick="window.open(this.href, \'popupwindow\', \'width=800  height=600 resizable scrollbars menubar=yes\'); return false;"><svg class="gcmSVG svg-facebook" width="1em" height="1em" viewBox="0 0 12 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.64002 21.7999V11.6646H0.960022V8.01539H3.64002V4.89849C3.64002 2.4492 5.22311 0.199951 8.87087 0.199951C10.3478 0.199951 11.4399 0.341539 11.4399 0.341539L11.3539 3.74928C11.3539 3.74928 10.2401 3.73844 9.02466 3.73844C7.70922 3.73844 7.49847 4.34465 7.49847 5.35079V8.01539H11.4584L11.2861 11.6646H7.49847V21.7999H3.64002Z" fill="currentColor"/></svg></a>';
                        tabContent += '<a class="shareButton linkedin" href="https://www.linkedin.com/shareArticle?url=' + shareUrl + '&title=' + shareTitle + '" target="_blank" onclick="window.open(this.href, \'popupwindow\', \'width=800  height=600 resizable scrollbars menubar=yes\'); return false;"><svg class="gcmSVG svg-linkedin" width="1em" height="1em" viewBox="0 0 19 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.68271 16.4801V5.79291H0.978553V16.4801H4.68271ZM2.83111 4.33288C4.12281 4.33288 4.92684 3.51223 4.92684 2.48668C4.90277 1.43801 4.12286 0.640137 2.85562 0.640137C1.58858 0.640137 0.76001 1.43803 0.76001 2.48668C0.76001 3.51227 1.56383 4.33288 2.80693 4.33288H2.83099H2.83111ZM6.73294 16.4801H10.4371V10.5119C10.4371 10.1925 10.4612 9.87337 10.559 9.64504C10.8268 9.00686 11.4362 8.34589 12.4595 8.34589C13.7999 8.34589 14.3361 9.32594 14.3361 10.7626V16.4801H18.04V10.3521C18.04 7.06941 16.2126 5.54201 13.7755 5.54201C11.7772 5.54201 10.8999 6.61314 10.4125 7.34268H10.4372V5.79269H6.73303C6.78164 6.79552 6.73303 16.4799 6.73303 16.4799L6.73294 16.4801Z" fill="currentColor"/></svg></a>';
                        tabContent += '<a class="shareButton whatsapp" href="whatsapp://send?text=' + shareTitle + '-' + shareUrl + '" target="_blank" onclick="window.open(this.href, \'popupwindow\', \'width=800  height=600 resizable scrollbars menubar=yes\'); return false;"> <svg width="1em" height="1em" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M30.7547 5.23233C29.0942 3.56882 27.1185 2.24979 24.9421 1.35164C22.7657 0.453498 20.4319 -0.00590242 18.0758 5.72492e-05C8.19632 5.72492e-05 0.153744 8.00247 0.14975 17.8391C0.14975 20.9828 0.974374 24.051 2.54176 26.7576L0 36L9.50214 33.518C12.1305 34.942 15.0752 35.6887 18.0679 35.69H18.0758C27.9534 35.69 35.9959 27.6876 35.9999 17.851C36.0067 15.5071 35.5467 13.1851 34.6463 11.0191C33.746 8.85325 32.4233 6.88641 30.7547 5.23233ZM18.0758 32.6794H18.0698C15.4013 32.6797 12.7819 31.9651 10.4865 30.6107L9.94341 30.2888L4.30482 31.7613L5.80831 26.2906L5.4549 25.7302C3.96296 23.3663 3.17317 20.6306 3.1767 17.8391C3.18069 9.66377 9.86354 3.01264 18.0818 3.01264C20.0391 3.00831 21.9777 3.39037 23.7856 4.13669C25.5935 4.88302 27.2347 5.9788 28.6143 7.36061C30.0012 8.73583 31.1005 10.371 31.8486 12.1716C32.5968 13.9722 32.9789 15.9025 32.973 17.851C32.969 26.0263 26.2861 32.6794 18.0758 32.6794ZM26.2482 21.573C25.7989 21.3484 23.5986 20.2714 23.1873 20.1223C22.778 19.9733 22.4805 19.8998 22.181 20.3449C21.8815 20.79 21.0229 21.7936 20.7614 22.0917C20.4998 22.3897 20.2382 22.4255 19.791 22.2029C19.3437 21.9804 17.9001 21.5094 16.189 19.9912C14.8572 18.8088 13.9587 17.3502 13.6971 16.9031C13.4356 16.456 13.6692 16.2155 13.8948 15.993C14.0965 15.7942 14.3421 15.4723 14.5657 15.212C14.7893 14.9517 14.8632 14.7669 15.0129 14.4688C15.1627 14.1707 15.0888 13.9104 14.975 13.6878C14.8632 13.4633 13.9667 11.2694 13.5933 10.3772C13.2319 9.51274 12.8625 9.628 12.587 9.61607C12.3016 9.60446 12.016 9.59915 11.7304 9.60017C11.5033 9.60593 11.2799 9.65833 11.074 9.75408C10.8682 9.84983 10.6845 9.98686 10.5344 10.1566C10.1231 10.6037 8.96704 11.6808 8.96704 13.8746C8.96704 16.0685 10.5724 18.1888 10.796 18.4869C11.0196 18.785 13.9547 23.286 18.4472 25.2175C19.5174 25.6765 20.352 25.9508 21.001 26.1574C22.0732 26.4973 23.0495 26.4476 23.8222 26.3343C24.6828 26.2071 26.4718 25.2572 26.8452 24.216C27.2186 23.1747 27.2186 22.2824 27.1068 22.0956C26.995 21.9088 26.6935 21.7956 26.2482 21.573Z" fill="currentColor"/></svg></a>';
                        tabContent += '</div>';


                        tabContent += tagsHTML;
                        tabContent += '</div>'; // shareRow
                        tabContent += '</div>'; // playerContent

                        targetContent = gcmTvList.getElementsByClassName('tab-' + videoID)[0];
                        targetContent.innerHTML = tabContent;
                        tabContent = '';

                    }

                    document.getElementById(listID).classList.remove("loader");
                }
            };
            video.send();

            window.dragScrollReset();
        }
        var targetVideoPlayer, targetVideoPlayerID, targetList, targetVideoID;
        document.body.addEventListener('click', function(evt) {
            // MarketDetailButton
            if (typeof evt.target.className === 'string' && evt.target.className.replace(/[\n\t]/g, " ").indexOf("tvPlaylistButton") > -1) {
                targetList = evt.target.getAttribute('data-playlist');
                youtubeListData(targetList);
            }

            if (typeof evt.target.className === 'string' && evt.target.className.replace(/[\n\t]/g, " ").indexOf("gcmTvListToggle") > -1) {
                evt.preventDefault();
                evt.target.closest('.tvCatTab').classList.toggle("navActive");
            }

            if (typeof evt.target.className === 'string' && evt.target.className.replace(/[\n\t]/g, " ").indexOf("playerControl") > -1) {
                evt.preventDefault();
                targetVideoPlayerID = evt.target.getAttribute("data-target");
                targetVideoPlayer = document.getElementById(targetVideoPlayerID);

                if (targetVideoPlayer.classList.contains('built')) {
                    window.gcmtv[targetVideoPlayerID].playVideo();
                    evt.target.classList.add('hide')
                } else {
                    targetVideoID = evt.target.getAttribute("data-video");
                    targetVideoPlayer.classList.add('built');
                    buildYoutube(targetVideoPlayerID, targetVideoID);
                    evt.target.classList.add('hide')
                }
            }
        }, false);
        var player;
        window.gcmtv = [];

        var YTConfig = {
            'host': window.location.origin
        };

        function buildYoutube(playerID, videoID) {
            window.gcmtv[playerID] = new YT.Player(playerID, {
                height: '315',
                width: '600',
                videoId: videoID,
                playerVars: {
                    cc_lang_pref: 'tr',
                    rel: 0,
                    loop: 0,
                    modestbranding: true,
                    wmode: 'opaque'
                },
                origin: window.location.origin,
                enablejsapi: 1,
                widget_referrer: window.location.origin,
                events: {
                    'onReady': onPlayerReady,
                    'onStateChange': onPlayerStateChange
                }
            });
        }

        var videoID;
        function onPlayerReady(event) {
            event.target.playVideo();

            videoID = event.target.playerInfo.videoData.video_id;
            $Lc('.built[data-originEmbed="'+videoID+'"]').closest('.youtubePlayerEmbedWrap').removeClass('loader');
        }

        function onPlayerStateChange(event) {
            videoID = event.target.playerInfo.videoData.video_id;

            if (event.data != YT.PlayerState.ENDED && event.data != YT.PlayerState.PAUSED) {
                document.querySelector('[data-video="' + videoID + '"]').classList.add('hide');
            }
        }

    })
</script>